<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New message from Quill user <%= "#{@name}, #{@email}"%></h1>
    <p>
      <strong>User's message:</strong> <br>
      <%= "#{@message}" %>
    </p>
  </body>
</html>