<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New message from Quill user <%= "#{@name}, #{@email}"%></h1>
    <p>
      Customer's message:
      #{@body}
    </p>
  </body>
</html>