body.home {

  .new-question-wrapper {

    justify-content: center;
    display: flex;    
    padding-top: 25px;
    padding-bottom: 25px;

    .new-question-title {
      
    }

    .new-question-icon {
      display: block;
      a {
        @extend .btn;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background: #90a4ae;

        font-size: $font-size-large;
        text-align: center;
      }
    }
  }

  form {
    top: 0;
  }

  #body, #area {
    width: 100%;
  }

  @include breakpoint(1050px) {
    #popover-view {
      width: auto;
      border-radius: 0;
    }
    #popover-view {
      padding: 20px 10px 10px;
    }
    #popover-view-controls a {
      font-size: 12px;
      top: 0px;
      right: 6px;
    }
    #popover-view-contents {
      .question-small {
        margin-top: 30px;
        padding: 12px;

        h2 {
          margin-bottom: 12px;
        }

        form {
          padding: 0;
        }
      }
    }
  }
}
