body.home {

  .new-question-wrapper {
    a {
      @extend .btn;
      @include center;
      width: 185px;
      border: none;
      color: $p-white;
      background: $p-green;
      font-size: $font-size-large;
      margin-bottom: 16px;
      display: block;
      border-top: none;
      box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.3);
      transition: background 0.2s, box-shadow 0.2s;

      &:hover, &:active {
        background: lighten($p-green, 5%);
        box-shadow: 0 3px 7px 2px rgba(0, 0, 0, 0.3);
      }
    }
  }

  form {
    top: 0;
  }

  #body, #area {
    width: 100%;
  }

  @include breakpoint(1050px) {
    #popover-view {
      margin-top: 0;
      width: auto;
      border-radius: 0;
      min-height: 100%;
    }
    #popover-view {
      padding: 20px 10px 10px;
    }
    #popover-view-controls a {
      font-size: 12px;
      top: 0px;
      right: 6px;
    }
    #popover-view-contents {
      .question-small {
        margin-top: 30px;
        padding: 12px;

        h2 {
          margin-bottom: 12px;
        }

        form {
          padding: 0;
        }
      }
    }
  }
}

body {
  background-color: $p-gray-subtle;
}
