.profile-container {

  .profile-overview {
    margin-top: 40px;
    text-align: center;

    color: white;

    .public-score {
      margin-top: 20px;
    }

    .member-since {
      margin-top: 20px;
    }

    .about-me {
      margin-top: 20px;
    }

    .message-wrapper {
      margin-top: 20px;
    }
  }

  .profile-avatar-public {
    & > img {
      border-radius: 50%;
      height: 165px;
      width: 165px;
    }
  }
}