.profile-container {

  .profile-overview {
    margin-top: 40px;
    text-align: center;

    color: white;
  }

  .public-score {
    & > .score-details {
      display: none;
    }

    & > .score-total {
      &:hover {
        & + .score-details {
          display: block;
        }
      }
    }
  }

  .profile-avatar-public {
    & > img {
      border-radius: 50%;
      height: 165px;
      width: 165px;
    }
  }
}