<h2>New Users Posts Comment</h2>

<%= render 'users/posts/comments/form', post: post, users_posts_comment: Comment.new, url: users_posts_comments_path %>

<%= link_to 'Back', users_posts_comments_path %>
