<h2>New Users Posts Comment</h2>

<%= render 'users/posts/comments/form', post: post, users_posts_comment: Comment.new, url: users_posts_comments_path %>

<%= link_to 'Back', users_posts_comments_path %>

<%= javascript_tag defer: 'defer' do %>

  $(document).on('submit', '#comment-form', function(e) {
    e.preventDefault();
    var form = $(this);
    var data = form.serializeArray();
    var url = form.attr('action');
    return $.ajax({
      type: "POST",
      url: url,
      data: data,
      dataType: 'json',
      success: function(data) {
        console.log('yes');
        el.replaceWith(data.partial);
        return false;
      },
      error: function(data) {
        console.log('no');
        return false;
      }
    });
  });
<% end %>