<div class="tabs tabs-public" id='account-tabs'>
  <div class="tabs-nav">
    <ul>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Questions</a></li>
      <li><a href="#">Answers</a></li>
    </ul>
  </div>
  <div class="tabs-content">
    <ul>
      <li><%= render partial: "users/profile", locals: { user: @user } %>
      </li>
      <li><%= render partial: "users/history_questions", locals: { user: @user_show } %>
      </li>
      <li><%= render partial: "users/history_answers", locals: { user: @user_show } %>
      </li>
    </ul>
  </div>
</div>