<div class="tabs tabs-public" id='account-tabs'>
  <div class="tabs-nav">
    <ul>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Posts</a></li>
      <li><a href="#">Comments</a></li>
    </ul>
  </div>
  <div class="tabs-content">
    <ul>
      <li><%= render partial: "users/profile", locals: { user: @user_show } %>
      </li>
      <li><%= render partial: "users/history_posts", locals: { user: @user_show } %>
      </li>
      <li><%= render partial: "users/history_comments", locals: { user: @user_show } %>
      </li>
    </ul>
  </div>
</div>