<div class="answer-votes" data-id="<%= answer.id %>">
  <%= answer_vote_button(answer, :up) unless current_user == answer.user %>
  <%= answer_vote_score(answer) %>
  <%= answer_vote_button(answer, :down) unless current_user == answer.user %>
</div>