<div class="answer-links">
  <% if answer.user == current_user %>
		<% unless answer.deleted? %>
      <%= link_to(t(:delete), users_questions_answer_path(answer),
       	remote: true,
        method: :delete,
        id: 'delete',
        data: { confirm: t(:are_you_sure) }
      ) %>
    <% end %>
  <% end %>
  <%= link_to(
    t(:reply_to_this_answer),
    users_questions_answer_replies_path(answer),
 	  class: 'reply-btn',
    remote: true, method: :post
  ) %>
</div>
