<div class='comment-links'>
	<% if comment.user == current_user %>
		<% unless comment.deleted? %>
			<%= link_to('Delete', users_questions_comment_path(comment),
        remote: true,
        method: :delete,
        id: 'delete',
        data: { confirm: 'Are you sure? '}) %>
		<% end %>
	<% end %>
</div>