<head>
  <title>Quillup</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto|Poppins' rel='stylesheet'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': false %>

  <%= render partial: 'shared/meta' %>

  <% if Rails.env.development? %>
    <%= livereload_tag %>
  <% end %>
</head>
