<div id='post-popover-backdrop'></div>
<div id='post-popover-view-wrapper'>
  <div id='post-popover-view'>
    <div class='post-popover-view-controls'>
      <%= link_to users_posts_exit_path, id: 'post-popover-exit' do %>
        <%= fa_icon 'times 4x' %>
      <% end %>
    </div>
    <div id="post-popover-view-contents">
      
    </div>
  </div>
</div>