<div id='popover-backdrop'></div>
<div id='popover-view-wrapper'>
  <div id='popover-view'>
    <div class='popover-view-controls'>
      <a href='#' id='popover-exit'>
        <i class="fa fa-times fa-4x"></i>
      </a>
    </div>
    <div id='popover-view-contents'>
      
    </div>
  </div>
</div>