<div class="post-votes" data-id="<%= post.id %>">
  <div class="score">Score: <%= post.score %></div>
  <% unless !user_signed_in? || post.user == current_user %>

    <%= link_to('Up', "/users/posts/#{post.id}/vote/up",
      method: :post,
      remote: true,
      id: "post-vote-up",
      class: "btn btn-default post-vote-up") %>

    <%= link_to('Down', "/users/posts/#{post.id}/vote/down",
      id: "post-vote-down",
      method: :post,
      remote: true,
      class: "btn btn-default post-vote-down") %>
  <% end %>
</div>
