<div id="post-comments">
  <h2>Comments</h2>
  <% post.comments.reverse.each do |comment| %>
    <%= render partial: 'shared/comment_votes', locals: { comment: comment } %>
    <h4>User #<%= comment.user_id %></h4>
    <p><%= comment.body %></p>
  <% end %>
</div>