<div id="post-comments">
  <h2>Comments</h2>
  <% post.comments.reverse.each do |comment| %>
    <div class="post-comment">
      <%= render partial: 'shared/comment_actions', locals: { comment: comment } %>
      <h4><%= link_to("#{comment.user.username}", user_profile_path(comment.user.username)) %></h4>
      <p><%= comment.body %></p>
    </div>
  <% end %>
</div>