<div id="post-comments">
  <h2>Comments</h2>
  <% post.comments.reverse.each do |comment| %>
    <div class="post-comment">
      <%= render partial: 'shared/comment_votes', locals: { comment: comment } %>
      <h4><%= comment.user.username %></h4>
      <p><%= comment.body %></p>
    </div>
  <% end %>
</div>