<div class='question-author'>
  <% if question.deleted? %>
    Anonymous question. Submitted
  <% else %>
    by <%= link_to("#{question.user.username}", user_profile_path(question.user.username)) %>
  <% end %>
  on 
  <%= question.friendly_date %>
  at 
  <%= question.friendly_time %>
</div>