<div class="question-answer answer" data-id="<%= answer.id %>">
    <% if answer.deleted? %>
      <p>[deleted]</p>
    <% else %>
    <%= render partial: 'shared/answer_actions', locals: { answer: answer } %>
      <div class="answer-author">
        <%= link_to("#{answer.user.username}", user_profile_path(answer.user.username)) %>
      </div>
    <% end %>
  <div class="answer-body">
    <%= answer.body %>
  </div>
</div>