<div class="question-links">
  <%= link_to "Answers (#{question.answers.count})",
    users_question_path(question),
    remote: true,
    method: :get %>
  <% if !question.deleted? %>
    <%= link_to('Delete', users_question_path(question), 
      remote: true, 
      method: :delete, 
      data: { confirm: 'Are you sure?' }) %>
  <% end %>
</div>
