<div class="cv">
  <div class="ispejimas-mobiliems">
    <h2>Sveikas, mobilaus telefono vartotojau!</h2>
    <p>Rekomenduoju šią svetainė peržiūrėti savo kompiuteryje, kadangi tingėjau tinkamai optimizuoti ją mobiliems įrenginiams ( dariau šį darbą 10 val vakaro ).
    Ačiū už supratingumą.</p>
  </div>
  <div class="pavadinimas">
    <h1>Gyvenimo aprašymas</h1>
  </div>
  <div class="portretas">
    <img src="https://avatars2.githubusercontent.com/u/21103197?s=460&v=4" alt="boy">
  </div>
  <div class="aprasymas">
    <ul>
      <li class='intro'>Aš esu Valdas - nepriklausomas tinklapių kūrėjas, programų sistemų inžinierius ir verslininkas</li>
      <hr>
      <li>
        Šiais laikais mūsų visas gyvenimas sukasi apie internetą - skriame didelę dalį savo laiko socialinams tinklams, pramogoms bei elektroninei prekybai. Internetas - tai yra neįtikėtinas būdas susiekti su milijardais žmonių. Būtent todėl aš pasirinkau šią sritį, kad galėčiau išspręsti žmonių problemas globaliu mastu, utilizuodamas šią neįtikėtiną galią.
      </li>
      <li>
        Aš sugebu kurti sistemas, kurios ne tik sugeba atlikti pagrindinę užduotį, bet taipogi ją atlikti greitai bei pritraukti vartotojus. Galiu optimizuoti jūsų svetaines nuo pat dugno iki viršaus bei užtikrinti jūsų sistemos sklandumą bei saugumą. Ar norėtumėt radikaliai reformuoti savo verslą pasitelkiant naujausias technologijas? Susiekite su manimi apačioje nurodytais kontaktais.
      </li>
    </ul>
  </div>
  <div class="kontaktai">
    <table class="tg">
      <tr>
        <th class="tg-yw4l"><i class="fa fa-phone" aria-hidden="true"></i></th>
        <th class="tg-yw4l">+370 674 55010</th>
      </tr>
      <tr>
        <td class="tg-yw4l"><i class="fa fa-facebook" aria-hidden="true"></i></td>
        <td class="tg-yw4l"><a href="https://www.facebook.com/valdas.vabolis231">Valdas Vabolis</a></td>
      </tr>
      <tr>
        <td class="tg-yw4l"><i class="fa fa-snapchat" aria-hidden="true"></td>
        <td class="tg-yw4l">vvabolis</td>
      </tr>
      <tr>
        <td class="tg-yw4l"><i class="fa fa-envelope" aria-hidden="true"></td>
        <td class="tg-yw4l">thisisvaldasvabolis@gmail.com</td>
      </tr>
    </table>
  </div>
  <hr class="section">
  <div class="edukacija">
    <div class="antraste">
      <h2>Išsilavinimas</h2>
      <i class="fa fa-graduation-cap fa-4x" aria-hidden="true"></i>
    </div>
    <ul>
      <li>Viekšnių gimnazija (2007 - 2019)</li>
      <li>Mažeikių politechnikos mokykla (2019 - 2024)</li>
    </ul>

    <p class="edu-pastaba"><i class="fa fa-bullhorn" aria-hidden="true"></i>Nors daug žinių įgavau mokydamasis švietimo įstaigose, didelę dalį savo sugebėjimų įgavau savarankiškai: skaitydamas straipsnius internete, kurdamas asmeninius projektus bei dalyvaudamas įvairiose kompeticijose.</p>
  </div>
  <hr class="section">
  <div class="patirtis">
    <div class="antraste">
      <h2>Patirtis</h2>
      <i class="fa fa-trophy fa-4x" aria-hidden="true"></i>
    </div>
    <ul>
      <h4>2014-2016</h4>
      <br>
      <li>"Telia" duomenų analizės specialistas.</li>
      <br>
      <h4>2017-2018</h4>
      <br>
      <li>Ši svetainė, kurią matote. Tai ne tik CV, jeigu paspausite ant viršuje esančio logotipo, pamatysite projektą, kurį netrukus planuoju išleisti.</li>
      <br>
      <h4>2019-2022</h4>
      <br>
      <li>"Vinted" programų sistemų testuotojas.</li>
      <br>
    </ul>
  </div>
  <hr class="section">
  <div class="gebejimai">
    <div class="antraste">
      <h2>Gebėjimai</h2>
     <i class="fa fa-suitcase fa-4x" aria-hidden="true"></i>
    </div>
    <ul>
      <li>Moku naudotis įvairiomis operacinėmis sistemomis kaip "Linux" platinamaisias paketais, "Windows" ir "macOS"</li>
      <li>Turiu daug patirties su tokiomis interneto technologijomis kaip "HTML, CSS ir JS"</li>
      <li>Sugebu kurti "responsive" programų sistemas, kurios gali automatiškai adaptuotis pagal ekrano dydį </li>
      <li>Gerai išmanau programavimo technologijas kaip "Rails", "Ruby", "PHP", "JavaScript"</li>
    </ul>
  </div>
  <hr class="section">
  <div class="pabaiga">
    <h2>Nekantrauju išgirsti apie jūsų esamas problemas</h2>
    <span>Pagarbiai, Valdas</span>
  </div>
</div>


