<div class='new-question-wrapper'>
  <%= link_to 'New Question', new_users_question_path %>
  PAAAAAAAAAAAAAAAA
  AAA
</div>

<% @questions.each do |question| %>
  <%= render partial: 'shared/question', locals: { question: question } %>
<% end %>
<%= will_paginate @questions %>