<div class='new-question-wrapper'>
  <%= link_to 'New Question', new_users_question_path unless current_user.nil? %>
</div>

<% @questions.each do |question| %>
  <%= render partial: 'shared/question', locals: { question: question } %>
<% end %>

<%= will_paginate @questions %>
