<div class='new-question-wrapper'>
  <div class="new-question-title">
    <h4>New Question</h4>
  </div>
  <div class='new-question-icon'>
    <%= link_to my_account_path do %>
      <%= fa_icon 'pencil' %>
    <% end %>
  </div>
</div>

<% @questions.each do |question| %>
  <%= render partial: 'shared/question', locals: { question: question } %>
<% end %>

<%= will_paginate @questions %>
