$p-white: #fff;
$p-black: #000;

$p-gray-dark: #222;
$p-gray: #9E9E9E;
$p-gray-light: #666;
$p-gray-subtle: #FCFCFC;
$p-gray-white: #e2e1e0;

$p-green: #04a748;
$p-green-light: #36f485;

$p-red: #f44336;
$p-red-dark: #74201a;

$p-yellow: #f3a012;

$p-peaceful-blue: #53a7ea;
