$palette-white: #fff;
$palette-black: #000;
$palette-grey: #9E9E9E;

$palette-gray-dark: #222;

$palette-green-light: #36f485;
$palette-green: #04a748;

$palette-red: #f44336;
$palette-red-dark: #74201a;