h1, h2, h3, h4, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h1 { font-size: 42px; }
h2 { font-size: 36px; }
h3 { font-size: 32px; }
h4 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 22px; }
h6 { font-size: 18px; }

$font-size-ginormous: 48px;
$font-size-giant: 32px;
$font-size-huge: 26px;
$font-size-large: 22px;
$font-size-big: 20px;
$font-size-base: 18px;
$font-size-small: 13px;

body {
  font-size: $font-size-base;
}