// popover hidden
#popover-backdrop,
#popover-view-wrapper {
  pointer-events: none;
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background $delay ease;
}

#popover-backdrop {
  background: rgba(255, 255, 255, 0);
  min-height: 100%;
  pointer-events: none;
  top: 50px;
  width: 100%;
  z-index: 1001;
}

#popover-view-wrapper {
  z-index: 1002;
}

#popover-view {
  @include center;
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  margin: 50px auto 0;
  opacity: 0;
  padding: 20px;
  transition: all $delay ease;
  transform: scale(0.75);
  width: 1024px;
  z-index: 1003;
}

#popover-exit {
  color: $p-gray-dark;
  position: absolute;
  transition: color $delay ease;
  top: 8px;
  right: 15px;

  i {
    font-size: 48px;
  }

  &:hover {
    color: $p-red;
    cursor: pointer;
  }
}

// popover shown
#popover-parent.showing-popover {
  overflow: hidden;

  #popover-backdrop {
    background: rgba(150, 150, 150, 0.9);
    pointer-events: all;
  }

  #popover-view-wrapper {
    pointer-events: all;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  #popover-view {
    background: #fff;
    transform: scale(1);
    opacity: 1;
  }
}
