.tabs {

  @include breakpoint(550px) {
    margin-top: -14px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .tabs-nav {

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    &, ul, li, a {
      position: relative;
    }

    ul {
      display: block;
      height: 45px;
      width: 100%;
    }

    li {
      display: inline-block;
      float: left;

      &.selected a {
        color: $p-white;
        height: 45px;
        background: $p-green;
      }
    }

    a {
      height: 40px;
      padding: 6px;
      display: block;
      font-size: 26px;
      text-align: center;
      text-decoration: none;
    }

    @include breakpoint(550px) {
      margin-bottom: 64px;
      ul {
        height: 165px;
      }
      
      a {
        border-radius: 0px;
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  }

  .tabs-content {
    clear: both;
    margin-top: 20px;
    @include breakpoint(550px) {
      text-align: center;
    }
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;


    li {
      display: none;
    }

    li.selected {
      display: inherit;
    }
  }
}
