.alert, .notice {
  @include center;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  font-size: 18px;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: -10px;
  transition: top 1s ease;
  width: 420px;

  &.shown {
    top: 50px;
  }
}