.main-content {
  @include center;
  margin-top: 60px;
  min-height: 100%;
  width: 1024px;

  @include breakpoint(1022px) {
    width: auto;
  }

  @include breakpoint(570px) {
    margin-top: 0;
  }
}
