nav {
  background: $p-gray-dark;
  height: $header-height !important;
  left: 0;
  margin-bottom: 0px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2000;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
   0 1px 5px 0 rgba(0,0,0,0.12),
    0 3px 1px -2px rgba(0,0,0,0.2);
  //border-bottom: 2px solid $p-red;

  .nav-logo-image {
    padding-left: 10px;
    height: 48px;
  }

  .nav-logo-text {
    font-size: 38px;
    color: $p-red;
    text-decoration: none;
    margin: 4px 4px 0px;
    font-family: "Poppins";
    display: inline-block;

    span {
      color: lighten($p-red, 10%);
    }
  }

  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
  }

  .nav-locale-en, .nav-locale-lt {
    background-size: cover;
    height: 30px;
    width: 57px;
    position: relative;
    display: block;
    margin: 10px;
  }

  .nav-locale-en {
    background-image: url(image-path(flag-en));
  }


  .nav-locale-lt {
    background-image: url(image-path(flag-lt));
  }


  li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 0;

    & .fa {
      font-size: $font-size-base;
    }

    span {
      padding-left: 10px;
      font-size: $font-size-base;
      font-family: 'Roboto', sans-serif;
    }
  }

  li a:not(.nav-locale-en):not(.nav-locale-lt) {
    color: #fff;
    display: block;
    font-size: 14px;
    height: 55px;
    padding: 16px 14px;
    text-align: left;
    text-decoration: none;
    transition: all .25s ease;
    width: 175px;

    &:hover, &:active, &:focus {
      border-bottom: 5px inset $p-red;
      color: #fff;
    }
  }

  i.fa-bars {
    display: none !important;
  }

  @include breakpoint(700px) {
    ul {
      top: 50px;
      position: fixed;
      right: -150px;
      transition: right .5s ease;
      transform: translateZ(0);

      &.shown {
        display: block;
        right: 0;
      }
    }

    li {
      display: block;
      float: none;
      background: $p-gray-dark;
      width: 150px;

      span {
        padding-left: 6px;
      }
    }

    .fa-sign-out {
      margin-left: 1px;
    }

    i.fa-bars {
      color: $p-red;
      display: block !important;
      position: fixed;
      right: 12px;
      top: 6px;
      cursor: pointer;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
