nav {
  background: $palette-gray-dark;
  height: $header-height !important;
  left: 0;
  margin-bottom: 0px;
  position: fixed;
  right: 0;
  top: 0;

  .nav-logo-image {
    height: 50px;
  }

  & > ul {
    
    list-stype-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    & > li {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
  }
}