nav {
  background: $palette-gray-dark;
  height: $header-height !important;
  left: 0;
  margin-bottom: 0px;
  position: fixed;
  right: 0;
  top: 0;

  .nav-logo-image {
    height: 50px;
  }

  ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
  }

  li {
    border-left: 1px solid $palette-red;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 0;
    text-decoration: none;
  }

  li a {
    transition: all .25s ease;
    background: $palette-gray-dark;
    color: $palette-red;
    text-decoration: none;
    display: block;
    height: $header-height;
    text-align: center;
    padding-top: 14px; 
    width: 100px;

    &:hover, &:active, &:focus {
      background: $palette-red;
      color: #fff;
    }
  }
}