/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

a.btn {
  @extend .btn-default;
}

$header-height: 45px;
h1,
h2 {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  height: $header-height !important;
  margin-bottom: 0px;
}

body {
  &>p.alert {
    transition: top 1s ease;
    position: fixed;
    left: 0;
    right: 0;
    top: -10px;
    width: 420px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    &.shown {
      top: 50px;
    }
  }
}

.container-fluid {
  top: 50px;
}

.header-logo-image {
  height: $header-height * 0.8;
  position: absolute;
  top: $header-height * 0.1;
}

@mixin submission {
  border: 1px solid rgba(0, 0, 0, 0.50);
  border-radius: 10px;
  background-color: #fff !important;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
  transition: all 0.25s ease;
  z-index: 1;
  &:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    z-index: 2;
  }
}

.home-post {
  @include submission;
  margin: 20px 10px 10px;
}

.post-comment {
  @include submission;
  margin: 10px 5px 5px;
}
