/*
 *= require_self
 */
 
@import "font-awesome";

@import "imports/**/*";
@import "common/**/*";
@import "components/**/*";
@import "views/**/*";

* {
  box-sizing: border-box;
}

h1,
h2 {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background: $palette-gray-dark;
  height: $header-height !important;
  margin-bottom: 0px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

body {
  &>p.alert {
    @include center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    font-size: 18px;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: -10px;
    transition: top 1s ease;
    width: 420px;
    &.shown {
      top: 50px;
    }
  }
}

#notice {
  margin-bottom: 0px;
}

.top-buffer {
  margin-top: 40px;
}

.main-content {
  @extend .top-buffer;
  margin-top: 100px;
}

.header-logo-image {
  height: 50px;
}

@mixin submission {
  background-color: #fff !important;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.50);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
  transition: all 0.25s ease;
  z-index: 1;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    z-index: 2;
  }
}

.home-post {
  @include submission;
  margin: 20px 10px 10px;
}

.post-comment {
  @include submission;
  margin: 10px 5px 5px;
}

textarea {
  resize: none;
}
