<h2>Comment history</h2>
<% current_user.comments.each do |comment| %>
  <div class="well">
    <%= render partial: "shared/comment_actions", locals: { comment: comment } %>
    <h4><%= link_to("#{comment.title}", users_post_path(comment.post)) %></h4>
    <p><%= comment.body %></p>
  </div>
<% end %>
