<p id="notice"><%= notice %></p>
<h2>Post history</h2>
<% user.posts.each do |post| %>
  <div class="well">
    <h4><%= post.title %></h4>
    <p><%= post.body %></p>
  </div>
<% end %>
<h2>Comment history</h2>
<div class="well">
  <h4><%= current_user %></h4>
</div>
