<% current_user.posts.each do |post| %>
  <div class='post' data-id='<%= post.id %>'>
    <div class='actions'>
      <%= render partial: 'shared/post_actions', locals: { post: post} unless post.deleted? %>
    </div>
    <% if post.deleted? %>
      <h4>[This post is deleted]</h4>
    <% end %>
    <h4><%= link_to("#{post.title}", users_post_path(post)) %></h4>
    <p><%= post.body %></p>
  </div>
<% end %>
<% if current_user.posts.empty? %>
  <h2>You haven't submitted any posts yet!</h2>
<% end %>
