<% current_user.comments.each do |comment| %>
  <div class="well comment" data-id="<%= comment.id %>">
    <%= render partial: "shared/comment_actions", locals: { comment: comment } %>

    <p><%= comment.body %></p>
  </div>
<% end %>
<% if current_user.comments.empty? %>
  <h2>You haven't submitted any comments yet!</h2>
<% end %>