<div class="container-fluid">
  <div class="tabs" id='account-tabs'>
    <div class="tabs-nav">
      <ul>
        <li>
          <a href="#">Profile</a>
        </li>
        <li>
          <a href="#">Settings</a>
        </li>
        <li>
          <a href="#">Posts</a>
        </li>
      </ul>
    </div>
    <div class="tabs-content">
      <ul>
        <li>
          <%= render partial: "accounts/profile" %>
        </li>
        <li>
          <%= render "devise/registrations/edit" %>
        </li>
        <li>
          <%= render template: "users/posts/index" %>
        </li>
      </ul>
    </div>
  </div>
</div>

<%= javascript_tag defer: 'defer' do %>
  $(function() {
    $('.tabs-nav a').click(function(e) {
      e.preventDefault();
      var nav = $(this).closest('li');
      var nav_items = nav.closest('ul').find('li');
      nav_items.removeClass('selected');
      var index = nav_items.index(nav);

      var content_items = $('.tabs-content li');
      content_items.removeClass('selected');
      var content = $(content_items[index]);

      nav.addClass('selected');
      content.addClass('selected');
    });

    $('.tabs-nav ul li').first().find('a').click();
  });
<% end %>