<div class="container-fluid">
  <div class="tabs tabs-private" id='account-tabs'>
    <div class="tabs-nav">
      <ul>
        <li>
          <a href="#">Profile</a>
        </li>
        <li>
          <a href="#">Settings</a>
        </li>
        <li>
          <a href="#">Posts</a>
        </li>
      </ul>
    </div>
    <div class="tabs-content">
      <ul>
        <li>
          <%= render partial: "accounts/info" %>
        </li>
        <li>
          <%= render template: "devise/registrations/edit" %>
        </li>
        <li>
          <%= render template: "users/posts/index" %>
        </li>
      </ul>
    </div>
  </div>
</div>