<div class="text-center">
  <h1>Your account</h1>
  <p>View your history and settings</p>
</div>
<div class="container-fluid">
  <div class="info-container">
    <h2>Account information</h2>
    <%= render partial: "accounts/info" %>
  </div>
</div>
<div class="container-fluid">
  <div class="settings-container">
    <h2>Settings</h2>
    <%= render "devise/registrations/edit" %>
  </div>
</div>
<div class="container-fluid">
  <h2>History</h2>
  <div class="history-container">
    <%= render template: "users/posts/index" %>
  </div>
</div>
