#answer-reply {
  position: absolute;
  top: 92px;

  & > div {
    width: 400px;
  }

  textarea {
    margin-top: 0;
    height: 40px;
  }

  .form-submit-wrapper input[type=submit] {
    float: left;
    width: 100px;
    font-size: 18px;
  }
}