#answer-reply {
  position: absolute;
  top: 92px;

  & > div {
    width: 400px;
  }

  textarea {
    margin-top: 0;
    height: 40px;
  }

  .form-submit-wrapper input[type=submit] {
    float: left;
    width: 100px;
    font-size: 18px;
  }
}

.question-answer {

  .answer-body, textarea {
    font-size: $font-size-big;
  }

  #save, #cancel, #form_answer {
    display: none;
  }

  &.editing {
    #save, #cancel, #form_answer {
      display: block;
    }
    #edit {
      display: none;
    }
  }
  
  form {
    margin-top: 35px;
    padding: 0;
    width: 100%;

    & > div {
      margin: 0;
    }
  }
}
