.question-large {

  .question-body, textarea {
    font-size: $font-size-big;
  }

  .question-body {
    display: block;
  }

  #save, #cancel, #form-question {
    display: none;
  }

  &.editing {
    #save, #cancel, #form-question {
      display: block;
    }
    #edit, .question-body {
      display: none;
    }
  }
  
  form {
    margin-top: 35px;
    padding: 0;
    width: 100%;

    & > div {
      margin: 0;
    }
  }
}
