.question-small, .answer {
  padding: $margin;
  clear: both;
  min-height: 86px;
  background: lighten(#eee, 3%);
  border-radius: $margin / 2;
  position: relative;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;

  &.question-small {
    margin: 0 0 $margin;
  }

  &:nth-child(odd) {
    background: #eee;
  }

  &:hover {
    box-shadow: $shadow-base;
  }

  .question-votes, .answer-votes  {
    position: absolute;
    left: $margin;
    top: $margin;
    height: 62px;
    width: 20px;
    margin-right: $margin;
  }

  .question-score, .answer-score {
    font-size: $font-size-base;
    text-align: center;
    position: absolute;
    top: 22px;
    left: 5.6px;
  }

  &.question-pinned {
    box-shadow: 1px 2px 2px 1px rgba(244, 67, 54, .2);

    &::after {
      color: $p-red;
      font-family: FontAwesome;
      content: "\f08d";
      position: absolute;
      top: $margin;
      right: $margin;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, .50);
      transform: rotate(45deg);
    }

    &:last-child {
      margin-bottom: $margin * 2;
    }
  }

  #question-vote-up,
  #question-vote-down,
  #answer-vote-up,
  #answer-vote-down {
    position: absolute;
    left: 0px;
  }

  #question-vote-up,
  #answer-vote-up {
    top: 0px;
  }

  #question-vote-down,
  #answer-vote-down {
    bottom: 0px
  }

  .answer-author {
    padding-left: 32px;
    margin-bottom: 5px;
    a {
      font-size: $font-size-base;
    }
  }

  .answer-links {
    margin-top: 3px;
    top: 88px;
    left: 12px;

    a {
      color: $p-gray-light;
      text-decoration: underline;
    }
  }

  .question-title,
  .question-author,
  .question-links,
  .answer-links,
  .answer-body {
    padding-left: 32px;
  }

  .question-title,
  .question-title a {
    font-size: $font-size-large;
  }

  .question-title {
    margin-bottom: $margin / 2;
  }

  .question-author {
    margin-bottom: $margin / 4;
  }

  .question-author,
  .question-author a {
    font-size: $font-size-small;
  }

  i {
    font-size: $font-size-large;
  }

  a {
    font-size: $font-size-small;
    text-decoration: none;
  }
}
